<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ejemplo2"
        tools:targetApi="31">
        <activity
            android:name=".Actividad_Juego_Suma5_10"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_9"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_8"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_7"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_6"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_5"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_4"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_3"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma5_1"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_8"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_7"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_6"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_5"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_4"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_3"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma4_1"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_7"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_6"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_5"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_4"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_3"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma3_1"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma2_6"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma2_5"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma2_4"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma2_3"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma2_2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_Juego_Suma2_1"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Actividad_JuegoSuma5"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Test1"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividad_JuegoSuma4"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividad_JuegoSuma3"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividad_juegoSuma2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividad_JuegoSuma"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActividadSuma"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Pantalla_Principal"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Diagrama_Barra"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>